### Exercise 2
# DataScienceEcosystem

# Exercise 3 
#### THE INTRO
## This is my last assignment of the "tools for data science" course

# Exercise 10 : Objectives

  1-Create a Jupyter Notebook
  
  2-Create markdown cell with title of the notebook
  
  3-Create a markdown cell for an introduction
  
  4- Create a markdown cell to list data science languages
  
  5-Create a markdown cell to list data science libraries
  
  6-Create a markdown cell with a table of Data Science tools
  
  7-Create a markdown cell introducing arithmetic expression examples
  
  8-Create a code cell to multiply and add numbers
  
  9-Create a code cell to convert minutes to hours
  
  10- Insert a markdown cell to list Objectives
  
  11-Create a markdown cell to indicate the Author's name
  
  12-Share your notebook through GitHub
  
  13-Take a screenshot of the first page of the notebook

# Exercise 4
## data science languages are :
    1:Python
    2:R
    3:SQL
    4:scala
    5:java
    6:c++
    7:julia
    8:java script
    9:php
    10:go
    and so on...

# Exercise 5
## data science libraries are:
    1:pandas
    2:numpy
    3:matplotlip
    4:seaborn
    5:keras
    6:scikit-learn
    7:tensorflow
    8:pytorch
    9:apache spark
    10:vegas
    11:big DL
    12:ggplot2
     and many more...

# Exercise 6
## Data Science tools are :
    1:mysql
    2:mongoDB
    3:apache cassandra
    4:hadoop file system
    5:ceph
    6:apache airflow
    7:kubeflow
    8:NodeRed
    9:pixie dust
    10:Hue
    11:kibana
    12:seldon
    13:mleap
    14:tensorflow
    15:ModelDB
    16:promrtheus
    17:git
    18:github
    19:apache atlas
    20:kylo
    21:oracle database
    22:watson studio
    23:spss modeler
    24:datameer
    25:amazon sagemaker

# Exercise 7
## ==>An arithmetic expression is an expression built up using numbers, arithmetic operators (such as +, , -, / and ) and parentheses, "(" and ")".         Arithmetic expressions may also make use of exponents, for example, writing  23as an abreviation for ((22)2).

##### Exercise 8 multiply and add numbers.

In [2]:
(8+20)*5

140

#### Exercise 9: convert minutes to hours

In [7]:
mints=3600
hours=mints/60
print(hours)

60.0

# exercise 11
## Author
    Mohamed wael